@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200&display=swap');
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";
@import "scss/regular.scss";

$colors: (
    primary: #D70646,
    accent: #212121,
    whiteColor: #ffffff,
    pColor: #7E7E7E
);

$padding: 15px;

// Tab View
$tab: 840px;

@mixin for-tab {
    @media (min-width: #{$tab}) {
        @content;
    }
}

// Burger menu button
$burger--thickness: 4px;

@function color($color-name) {
    @return map-get($colors, $color-name)
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat';
    margin: 0;

    p {
        color: color(pColor);
    }
    a {
        text-decoration: none;
    }
    a:hover, button:hover {
        cursor: pointer;
    }

    header {

        span {
            padding: 5px;
            font-size: 1.3em;
            color: color(primary);
        }
        span#facebook {
            @extend %fa-icon;
            @extend .fab;

            &:before {
                content: fa-content($fa-var-facebook-f);
            }
        }
        span#linkedin {
            @extend %fa-icon;
            @extend .fab;

            &:before {
                content: fa-content($fa-var-linkedin-in);
            }
        }
        
        ul {
            margin: 0;
            padding: 0;
          }

        li {
            list-style: none;
            padding: 5px 10px;
            a {
                color:#707070;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: color(primary);
                  }
            }
            @include for-tab {
                display: inline-block;
                font-size: 13px;
            }
        }

        #top-headerbar ul {
            @include for-tab {
                padding: 15px 5px 0 0;
            }
        }

        #top-headerbar li {
            display: inline-block;
            float: right;
            padding: 0;

            @include for-tab {
                font-size: 12px;
            }
        }
    }

    a#logo {
        font-size: 2em;
        color: #000000;
        font-weight: 400;
        text-decoration:none;
        display: block;
        margin: 0 auto;
        float: left;
        padding: 5px;
        position: absolute;
        left: 15px;
        top: 10px;

        @include for-tab {
            padding: 0px 5px 10px 15px;
            top: 30px;
        }
    }

    #bg {
        background-color: color(whiteColor);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    div#top-headerbar, div#main-headerbar {
        width: 100%;
    }

    div#main-headerbar {
        @include for-tab {
            display: inline-block;
        }
    }

    //Colapssable Burger Menu
    .burger {
        clear: both;
        $width: 28px;
        display: inline-block;
        border: 0;
        background: none;
        outline: 0;
        padding: 0;
        cursor: pointer;
        border-bottom: $burger--thickness solid color(primary);
        width: $width;
        float: right;
        margin: 5px;
    
        transition: border-bottom 1s ease-in-out;
        -webkit-transition: border-bottom 1s ease-in-out; 
    
        // Fix for extra space in Firefox
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }	 
    
        &:before {
            content: "";
            display: block;
            border-bottom: $burger--thickness solid color(primary);
            width: 100%;
            margin-bottom: 5px;
            transition: transform 0.5s ease-in-out;    
            -webkit-transition: -webkit-transform 0.5s ease-in-out;        
        }
    
        &:after {
            content: "";
            display: block;
            border-bottom: $burger--thickness solid color(primary);
            width: 100%;
            margin-bottom: 5px;
            transition: transform 0.5s ease-in-out;
            -webkit-transition: -webkit-transform 0.5s ease-in-out;
        }
        @include for-tab {
            display: none;   
        }
    }
    
    .burger-check {
        display: none;
    }
    
    .burger-check:checked ~ .burger {
      border-bottom: $burger--thickness solid transparent;
      transition: border-bottom 0.8s ease-in-out;
      -webkit-transition: border-bottom 0.8s ease-in-out;
    
      &:before {
        transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
      }
    
      &:after {
        transform: rotate(405deg) translateY(-4px) translateX(-5px); 
        -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
      }
    }
    
    // * * * Navigation * * *
    $navigation__transition: max-height 0.5s ease-in-out;
    
    .navigation {
        clear: both;
        overflow: hidden;
        max-height: 0;
        transition: $navigation__transition;

        @include for-tab {
            max-height: 100%;
            display: inline-block;
            margin-top: 14px;
            float: right;
            clear: none;

            ul {
                margin-right: 9px;
            }

            li:last-child {
                border: 1px solid color(primary);
                border-radius:  3px;
                a {
                    color: color(primary);
                }
            }
        }
    }
    
    .burger-check:checked ~ .navigation {
      max-height: 500px;
      transition: $navigation__transition;
    }
}

main {

    background-color: color(whiteColor);

    #left, #right, img {
        width: 100%;
    }

    .pink-cta {
        color: color(whiteColor);
        background-color: color(primary);
        padding: $padding;
        border-style: none;
        font-size: 1em;
        border-radius: 3px;
        display: block;
        margin: 0 auto;
        width: 45%;
    }

    section {

        @include for-tab {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "left right";

        }

        text-align: center;
        padding: 40px 10px;

        .left {
            @include for-tab {
                grid-area: left;
                height: fit-content;
                margin: 1em;
            }
        }

        .right {
            @include for-tab {
                grid-area: right;
                height: fit;
            }
        }
    }

    section h2 {
        font-size: 1.9em;
        font-weight: 500;
        text-align: center;
    }

    section h3 {
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
    }

    section#section1 {

        background-image: url("../images/team-meeting.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        padding: 100px 30px;
        margin-top:5px;

        &:after {
            box-shadow: 0px 0px 0px 4000px rgba(27, 61, 88, 0.5) inset;
        }

        h2, p {
            color: #ffffff;
        }
    }

    section#section3 {

        background-color: color(accent);
        color: color(whiteColor);
        padding: 0;

        .left {
            padding: 40px 10px;
        }
        .right {
            background-image: url("../images/team-standing.jpg");
            padding: 150px 30px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    section#section4 {
        display: initial;
        h3{
            margin: 5px;
        }
        p {
            margin-top: 5px;
        }
        img {
            border-radius: 5px;
        }
    }

    section#section5{

        h3 {
            margin-bottom: 15px;
        }

        @include for-tab {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
            grid-gap: 5px;
        }
    }

    section#section6 {
        background-color: color(primary);
        h2 {
            color: color(whiteColor);
        }
        .pink-cta {
            border: 1px solid color(whiteColor);
        }
    }
}

footer {
    text-align: center;

    h6 {
        font-weight: 400;
    }
}